# mod_rewrite starts here

RewriteEngine on

# doesnt apply to existing directories, if file exists on server, dont apply
RewriteCond %{REQUEST_FILENAME} -d

# Check for file in directory with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the page with HTML extension
RewriteRule ^(.*)$ $1.html [NC,L]